body {
    font-family: Baskervville, serif;
    color : white;
    max-width : 800px;
    margin : 0 auto;
    padding : 20px;
    background : black;
}

h2 {
    color: red;
}

#albumContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.fetchedAlbum {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.fetchedAlbum img {
    max-width: 100%;
    height: auto;
}
